<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                v1.0.0
                © 2023 <a href="https://aurorais.me?utm_source=cloudflare-dynip-updater" target="_blank">auroraisluna</a>.
                Theme by <a href="https://tabler.github.io/?utm_source=cloudflare-dynip-updater" target="_blank">Tabler</a>
            </div>
        </div>
    </div>
</footer>